.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 9;
    padding-block-start: 26px;
    background-image: url("/splash.jfif");

    @media (prefers-color-scheme: dark) {
        background-image: url('/splash-dark.jfif');
    }
    
    background-position: 80%;
    gap: 2rem;
    .themeChanger {
        position: absolute;
        right: 16px;
    }
    .title {
        text-align: center;
        * {
            margin-block: 0;
        }
    }
    .separator {
        flex-grow: 1;
        max-height: 50vh;
        width: 100%;
        position: relative;
        .line {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-right: 1px dashed var(--color);
            height: 100%;
            width: 1px;
        }
        .monstera {
            position: absolute;
            left: 50%;
            top: 15%;
            translate: -40%;
            transform-origin: center;
            animation: wind 12s linear infinite both;
            &:nth-child(1) {
                left: 40%;
                top: 30%;
                scale: -0.9 1;
                animation-delay: 0.15s;
                img {
                    fill: #002114;
                }
            }
            img {
                width: 128px;
                height: auto;
                fill: #006C49;
            }
        }
    }
    .scrollDown {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        &:hover {
            text-decoration: underline;
        }
        h3 {
            margin: 0;
            cursor: pointer;
        }
        img {
            margin-inline: auto;
            @media (prefers-color-scheme: dark) {
                filter: invert(1);
            }
        }
    }
}
@keyframes wind {
    0% {
        transform: rotate(-2deg);
    }
    15% {
        transform: rotate(1deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    85% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}