.main {
  section {
    padding-inline: 15px;
    scroll-margin-block-start: 70px;
    &.front {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      z-index: 9;
      padding-block-start: 100px;
    }
    &.disableAnimations {
      * {
        animation: none !important;
      }
      .bubbles {
        height: 40vh;
        aspect-ratio: 4 / 3;
        border-color: #3b3b3b;
      }
      .scrollDown {
        opacity: 1;
      }
    }
    .title {
      text-align: center;
      h1,
      h2,
      h3 {
        margin-block: 0;
      }
    }
    .bubbles {
      margin-block: 32px;
      border: 1px solid white;
      overflow: hidden;
      border-radius: 5px;
      height: 40vh;
      width: 100%;
    }
    .scrollDown {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      img {
        filter: invert(1);
      }
    }
    .info {
      margin-block-start: 70px;
      h1 {
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        margin-block-end: 32px;
      }
    }
  }
}
