@import "./animations";

.main {
  section {
    background-color: #323232;
    padding-inline: 15px;
    &.front {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 9;
    }
    &.disableAnimations {
      * {
        animation: none !important;
      }
      .bubbles {
        height: 100%;
        aspect-ratio: 4 / 3;
        border-color: #3b3b3b;
      }
      .scrollDown {
        opacity: 1;
      }
    }
    .title {
      text-align: center;
      h2,
      h3 {
        margin-block: 0;
        animation: focus-in 1s ease-in-out both;
        animation-delay: 1.5s;
      }
      h1 {
        font-size: 3rem;
        margin-block: 0.2em;
        animation: focus-in-movement 1.5s ease-in-out both;
      }
      h2 {
        font-size: 1.75rem;
        font-weight: 500;
      }
      h3 {
        font-size: 1.15rem;
        font-weight: 100;
        font-style: italic;
        animation-duration: 1.5s;
      }
    }
    .bubbles {
      animation: gogogogo 300ms linear forwards;
      animation-delay: 3.75s;
      // display: none;
      height: 60vh;
      max-height: 0;
      width: 100%;
      margin-block: 32px;
      border: 1px solid transparent;
      overflow: hidden;
      border-radius: 5px;
    }
    .scrollDown {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      animation: focus-in 200ms linear forwards;
      animation-delay: 3.75s;
      opacity: 0;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      img {
        filter: invert(1);
      }
    }
    .info {
      margin-block-start: 70px;
      h1 {
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        margin-block-end: 32px;
      }
      .content {
        margin-block-end: 32px;
        p {
          margin: 0;
        }
        .jobDescription {
          font-size: 16px;
        }
        .jobAdditionalInfo {
          font-size: 13px;
          margin-block-start: 3px;
          font-style: italic;
          font-weight: 200;
        }
      }
      .block {
        margin-block-start: 13px;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        background-color: teal;
      }
    }
  }
  .nav {
    position: fixed;
    background-color: #323232;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
    z-index: 2;
    p {
      font-size: 1.5rem;
      font-weight: 600;
      margin-block: 1rem;
    }
  }
}
