.bubble {
    width: 84px;
    height: auto;
    aspect-ratio: 1;
    background-color: rgb(97, 32, 2);
    border: 3px solid rgb(71, 0, 0);
    border-radius: 50%;
    background-size: contain;
    display: grid;
    place-items: center;
    .title {
        font-size: 12px;
        text-transform: uppercase;
    }
}