:root {
    --main-color: var(--color-light);
    --main-bg: var(--bakground-light);
    --cover: var(--cover-light);
    --on-surface-1: var(--on-surface-1-light);
    --on-surface-5: var(--on-surface-5-light);

    --background-light: #fbfdf9;
    --color-light: #191c1a;
    --cover-light: url("/splash.jfif");
    --on-surface-1-light: #eef6f0;
    --on-surface-5-light: #d8e9e0;

    --background-dark: #191c1a;
    --color-dark: #e1e3df;
    --cover-dark: url("/splash-dark.jfif");
    --on-surface-1-dark: #1d2621;
    --on-surface-5-dark: #23372e;
}
section,
main {
    background-color: var(--main-bg);
}
* {
    color: var(--main-color);
    -webkit-tap-highlight-color: transparent;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: var(--background-dark);
        --main-color: var(--color-dark);
        --cover: var(--cover-dark);
        --on-surface-1: var(--on-surface-1-dark);
        --on-surface-5: var(--on-surface-5-dark);
    }
}
